* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #141922;
}

.debug {
    background-color: rgba(255, 0, 0, .1);
}

/* mix */
.container {
    height: 100vh;
}

.wrapper {
    display: flex;
    height: calc(100% - 90px);
}

/* /mix */

/* typo */
h1 {
    font-size: 25px;
    font-weight: 600;
}
a {
    text-decoration: none;
}
/* /typo */



/* aside */
aside {
    display: flex;
    flex-basis: 50px;
    flex-shrink: 0;
    flex-direction: column;
    background-color: red;
    padding: 10px 5px 5px;
    color: #fff;
}

/* header */
.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #fff;
}
.logo i {
    font-size: 40px;
}
.logo span {
    vertical-align: super;
    font-size: 10px;
    padding-left: 3px;
}
/* /header */

/* playlist */

/* /playlist */
@media screen and (max-width:575px) {
    header *:not(i),
    #aside__bottom *:not(i) {
        display: none;
    }
    
    .logo {
        justify-content: center;
    }
}

@media screen and (min-width:576px) {
    aside {
        flex-basis: 230px;
        padding: 20px 20px 0;
    }

    .logo i {
        padding-right: 10px;
    }
}
/* /aside */

/* main */
main {
    flex-grow: 1;
}
#main__top {
    height: 90px;
    position: fixed;
    background-color: rgba(0, 0, 0, .5);
    z-index: 999;
    left: 50px;
    top: 0;
    right: 0;
}

.main__nav--wrapper {
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.main__nav ul li {
    display: inline-block;
}

section {
    padding: 40px;
}

/* album */
.album__wrapper {
    display: flex;
}
.album img {
    height: 200px;
    width: 200px;
}

/* /album */
/* /main */

/* footer */
footer {
    height: 90px;
    background-color: #282828;
}
/* /footer */
