* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #141922;
}

.debug {
    background-color: rgba(255, 0, 0, .3);
}

/* mix */
.container {
    height: 100vh;
}

.wrapper {
    display: flex;
    height: calc(100% - 90px);
}
ul {
    list-style: none;
}
/* /mix */

/* typo */
h1 {
    font-size: 25px;
    font-weight: 600;
}
a {
    text-decoration: none;
}
h3 {
    text-transform: uppercase;
    font-size: 14px;
}

/* /typo */

/* aside */
aside {
    flex-basis: 50px;
    flex-shrink: 0;
    background-color: #000;
    overflow: hidden;
}

aside a {
    font-weight: 600;
    opacity: .6;
}
aside a:hover,
aside a.active,
.playlist__add:hover {
    opacity: 1;
}

/* header */
/* logo */
.logo {
    display: flex;
    align-items: center;
    opacity: 1;
}
.logo i {
    font-size: 35px;
}
.logo span {
    vertical-align: super;
    font-size: 10px;
    margin-left: 3px;
}
/* /logo */

/* main__nav */
.main__nav {
    margin: 30px auto;
}

.main__nav li {
    position: relative;
}
 
.main__nav a {
    display: flex;
    flex-basis: 100%;
    padding: 5px 0;
    font-size: 14px;
    border-left: 3px solid #000;
}
.main__nav a:hover,
.main__nav a.active {
    border-left: 3px solid #adff2f;
}

.main__nav a img {
    width: 30px;
    opacity: .8;
}
/* /main__nav */


/* ---- responsive ---- */
@media screen and (max-width:575px) {
    header a *:not(i, img),
    #aside__bottom *:not(i) {
        display: none;
    }
    /* logo */
    .logo,
    .main__nav a {
        justify-content: center;
    }
    .logo {
        padding-top: 5px;
    }
    /* /logo */
}

@media screen and (min-width:576px) {
    aside {
        flex-basis: 230px;
    }
    /* logo */
    .logo {
        padding: 20px 20px 0;
    }

    .logo i {
        margin-right: 10px;
    }
    /* /logo */

    /* main__nav */
    .main__nav a {
        display: flex;
        padding-left: 20px;
        align-items: center;
    }
    .main__nav a img {
        margin-right: 5px;
    }
    /* /main__nav */
}
/* / ---- responsive ---- */
/* /header */

/* aside__bottom */
#aside__bottom {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.playlist__add {
    margin-top: 10px;
    display: flex;
    border: none;
    background-color: transparent;
    padding: 0;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    opacity: 0.6;
}

.playlist__add span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    border-radius: 0;
    background-color: #fff;
    color: #000;
    opacity: .6;
    font-size: 40px;
    font-weight: 300;
    margin-right: 10px;
}

/* ---- responsive ---- */
@media screen and (max-width:575px) {
   
}

@media screen and (min-width:576px) {
   
}
/* / ---- responsive ---- */





/* /aside__bottom */

/* /aside */

/* main */
main {
    flex-grow: 1;
}
#main__top {
    height: 90px;
    position: fixed;
    background-color: rgba(0, 0, 0, .5);
    z-index: 999;
    left: 50px;
    top: 0;
    right: 0;
}
/* 
.main__nav--wrapper {
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.main__nav ul li {
    display: inline-block;
} */

section {
    padding: 40px;
}

/* album */
.album__wrapper {
    display: flex;
}
.album img {
    height: 200px;
    width: 200px;
}

/* /album */
/* /main */

/* footer */
footer {
    height: 90px;
    background-color: #282828;
}
/* /footer */
